# ==========================================
# CONFIGURATION D'ENVOI D'EMAILS (GRAFANA)
# ==========================================

# 1. L'adresse email qui ENVOIE les alertes (ton compte Yahoo)
GF_SMTP_USER=ton_email_qui_envoie@yahoo.com
GF_SMTP_FROM_ADDRESS=ton_email_qui_envoie@yahoo.com

# 2. Le mot de passe d'application (généré sur Yahoo, 16 lettres)
GF_SMTP_PASSWORD=ton_mot_de_passe_application

# 3. L'adresse email qui RECOIT les alertes (ça peut être ton Gmail perso, ou le même Yahoo)
ALERT_RECIPIENT_EMAIL=email_qui_recoit_les_alertes@gmail.com
